body{
  background-image : url("C:\Users\Anjany\OneDrive\Desktop\calculator-react\calculator\src\components\bc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.calculator{
  width : 300px;
  background-color: rgba(244, 244, 244, 0.374);
  border-radius: 10px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 2em;
  max-inline-size: 22rem;
  overflow: hidden;
  color: hsl(202, 11%, 29%);
  
}

